@charset 'utf-8';

*{ 
    margin: 0;
    padding: 0;
    border: none;   
    text-decoration: none;
    list-style-type: none;

}

body{
    font-family: calibri;
    background-image: url(Imagens/cenario-de-formacao-rochosa-na-orla-oceanica-do-rio-de-janeiro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: visible;
    background-size: cover;
}

header{
    background-color: white;
    width: 100%;
    height: 100px;
}

.cabecalho{
    display: flex;
    width: 300px;
    height: 100px;
}

.titulo h1 a{
    text-decoration: none;
    margin-top: 20px;
     align-items: center;
     font-family: garamond;
     color: steelblue;
     font-size: 40px;
     display: flex;
     justify-content: center;
     width: 300px;
     font-weight: lighter;
}

.opcoes {
    display: flex;
}

.opcoes a{
    font-size: 14px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 20px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:steelblue;
    width: 165px;
    margin-left: 60px;
}

.opcoes a:hover{
    color: black;
}

.centro{
    display: flex;
}

.imagem img{ 
    display: flex;
    width: 400px;
}



.texto h1{
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
    color:white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.texto p {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: rgb(104, 141, 172);
    font-family: Helvetica, sans-serif;
    margin: 30px;

}

footer{
    background-color: white;
    display: flex;
    width: 100%;
    height: 50px;
}

.dados{
    height: 30px;
    display: flex;
}

.dados a{
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    text-decoration: none;
    display: flex;
    color: steelblue;
    justify-content: center;
}

.sobre{
    margin-top: 0px;
}

.sobre p{
    color: steelblue;
    width: 500px;
    margin-left: 110px;
    background-color: #ffffff6b;
    border-radius: 10px;
}

.details summary{
    color: steelblue;
    font-size: 40px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.details summary:hover{
    color: rgb(255, 255, 255);
}

.details li{
    font-size: 20px;
    cursor: pointer;
    color: steelblue;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-top: 5px;
    margin-left: 40px;
}

.details li:hover{
    color: rgb(255, 255, 255);
    font-weight: lighter;
}


.texto h2{
 align-items: center;
 justify-content: center;
 display: flex;
 color: rgb(255, 255, 255);
 font-weight: lighter;
}

.texto input {
    margin-top: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    border-radius: 20px;
    width: 140px;
    height: 40px;
    margin-left: 215px;
    background-color: rgba(70, 131, 180, 0.139);
}

.texto input:hover {
    background-color: aliceblue;
    color: rgba(70, 131, 180, 0.689);
}
